<header class="bg-primary">
    <div class="container p-3 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <span class="icon icon-movie text-white fw-light fs-3"></span>
            <span class="text-white fw-bold mx-2 fs-4"><span class="text-warning">Flick</span>tastic</span>
        </div>
        <ul class="d-flex align-items-center text-white">
            <li class="">
                <a class="text-warning mx-4 d-flex align-items-center" routerLink="trending">
                    <span class="mx-2 icon icon-trending-up"></span>
                    <span>Trending</span>
                </a>
            </li>
            <li class="">
                <a class=" mx-4 d-flex align-items-center" routerLink="movie">
                    <span class="mx-2 icon icon-movie"></span>
                    <span>Movie</span>
                </a>
            </li>
            <li class="">
                <a class=" mx-4 d-flex align-items-center" routerLink="series">
                    <span class="mx-2 icon icon-web-show"></span>
                    <span>Series</span>
                </a>
            </li>
        </ul>
        <div class="d-flex align-items-center text-white">
            <form action="">
                <span class="rounded bg-warning d-flex align-items-center"><input type="search" placeholder="search movie" class="form-control">
                    <span class="cursor-pointer p-2 icon icon-search"></span></span>
            </form>
        </div>
    </div>
</header>