@font-face {
  font-family: 'flicktastic';
  src:  url('fonts/flicktastic.eot?jdp1p7');
  src:  url('fonts/flicktastic.eot?jdp1p7#iefix') format('embedded-opentype'),
    url('fonts/flicktastic.ttf?jdp1p7') format('truetype'),
    url('fonts/flicktastic.woff?jdp1p7') format('woff'),
    url('fonts/flicktastic.svg?jdp1p7#flicktastic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flicktastic' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-trending:before {
  content: "\e903";
  color: #ff6b6b;
}
.icon-bookmark:before {
  content: "\e900";
}
.icon-web-show:before {
  content: "\e901";
}
.icon-trending-up:before {
  content: "\e902";
}
.icon-movie:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e986";
}
