// css reset 
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: $font-family-sans-serif;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $white;
    cursor: pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

// custom scroll bar 
/* width */
::-webkit-scrollbar {
    width: 10px;
    // border-radius:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dbdbdb;
     border-radius:5px;
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0d6efd; 
     border-radius:5px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #025be0; 
  }

//   search 
.search-btn{
    &:hover{
        background-color: #f5b904 !important;
    }
} 