<div class="details-wrapper position-relative w-100 h-100 bg-white rounded card shadow-lg border p-3 overflow-auto">
    <div class="row m-0">
        <div class="col-4">
            <div class="image-wrapper rounded "><img class=""
                    src="{{'https://image.tmdb.org/t/p/w500'+getDetails[0].poster_path}}" alt="">
            </div>
        </div>
        <div class="col-8 px-3">
            <div class="details-content ms-3">
                <div class="mt-3">
                    <span class="fw-bold fs-3">Title :- <span class="fw-normal">{{getDetails[0].title ||
                            getDetails[0].name}}</span></span>
                </div>
                <div class="mt-3">
                    <span class="fw-bold fs-3">Description :- <span
                            class="fw-normal">{{getDetails[0].overview}}</span></span>
                </div>
                <div class="mt-3 d-flex justify-content-between">
                    <span class="fw-bold fs-3">Release Date :- <span
                            class="fw-normal">{{getDetails[0].release_date|| 'not recived'}}</span>
                    </span>
                    <span class="fw-bold fs-3">Ratings :- <span class="fw-normal">{{getDetails[0].vote_average}}</span>
                    </span>
                </div>
                <div class="mt-3">
                    <span class="fw-bold fs-3">Category :- <span class="fw-normal"
                            *ngIf="getDetails[0].media_type=='movie'">Movie</span><span class="fw-normal"
                            *ngIf="getDetails[0].media_type=='tv'">Web Series</span>
                            <span class="fw-normal">{{Category}}</span></span>
                </div>
            </div>
        </div>
    </div>
</div>